/*  ****************** */

/*  BASIC SETUP */

/*  ****************** */

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
    scroll-behavior: smooth;
    color: black;
}
body{
	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 2rem;
}

ul li{
	list-style-type: none;
}

/*  ****************** */

/*  HEADING */

/*  ****************** */

h1{
	font-size: 4.2rem;
	color: #fff;
	line-height: 4rem;
}

/*  ****************** */

/*  REUSEABLE COMPONENT */

/*  ****************** */

.row{
	max-width: 114rem;
	margin: 0 auto;
}

section{
	padding: 8rem 0;
}

h2{
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	font-weight: 600;
    line-height: 5%;
	margin-top: 0;
	margin-bottom: 2rem;
	color: #fff;
	text-align: center;
}

h2:after{
	content: "";
	display: block;
	height: .4rem;
	background: #fff;
	width: 8.5rem;
	margin: auto;
	margin-top: 2rem;
	
}

h3{
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}

h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
}
.box{
	padding: 1%;
}

.box p{
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 2rem;
	color: #fff;
	
}

/* BUTTOON */

.btn:link,
.btn:visited,
.btn{
	background: #333;
	border-bottom: .3rem solid #000 ;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.5rem 6rem;
	border-radius: .3rem;
	display: inline-block;
	margin-top: 4.5rem;
	font-size: 1.6rem;
}

/* Litile-Description paragraph */

.litile-description{
	font-size: 1.8rem;
	width: 60%;
	margin-left: 20%;
	line-height: 3rem;
}

/*  ****************** */

/*  HEADER SECTION */

/*  ****************** */

header{
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(135, 80, 156, 0.9)),to(rgba(135, 80, 156, 0.9))),url(images/hero-bg.jpg);
	background: linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)),url(images/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 85vh;
	position:relative;
}

.logo{
	height: 3.5rem;
	width: auto;
	margin-top: 3.5rem;
	float: left;
}

.hero-text-box{
    width: 114rem;
}

/*  ****************** */

/*  MAIN NAVIGATION */

/*  ****************** */

.main-nav{
	float: right;
	margin-top: 4rem;
}

.main-nav li{
	display: inline-block;
	margin-left: 1rem;
}

.main-nav li:first-child {
	margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited{
	color: #fff;
	text-decoration: none;
	text-transform:uppercase;
	padding: .6rem 1.6rem;
	border-radius: .3rem;
	display: inline-block;
	font-size: 1.6rem;
	-webkit-transition: .3s;
	transition: .3s;
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited{
	background: #643a79;
}

.main-nav .active{
	background: #643a79;
}

/* sticky navication */

.sticky{
    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(133, 112, 156, 0.9);
    padding: 1rem 0;
    -webkit-box-shadow: 0 .2rem .5rem 
        rgba(255, 255, 255, 0.9);
    box-shadow: 0 .2rem .5rem 
        rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.sticky .logo{
    margin-top: 0;
}

.sticky .main-nav{
    margin-top: 2rem;
}

.sticky li:hover{
    cursor: pointer;
}

.hero-text-box{
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
	
}

.btn-hero:link,
.btn-hero:visited{
	background: #eb7d4b;
	border-color: #c86a40;
}

/*  ****************** */

/*  SERVICES SECTION */

/*  ****************** */

.services-section{
	color: #fff;
	text-align: center;
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(23, 194, 164, 0.9)),to(rgba(23, 194, 164, 0.9))),url(images/services-bg.jpg);
	background: linear-gradient(rgba(23, 194, 164, 0.9),rgba(23, 194, 164, 0.9)),url(images/services-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.services-section h2:after{
	background: #14a58c;
}

.services-section .services-icon{
	height: 12rem;
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
}

/*  ****************** */

/*  TEAM SECTION */

/*  ****************** */

.team-section{
	text-align: center;
	background: -webkit-gradient(linear,left top, left bottom,from(rgba(231, 241, 248, 0.9)),to(rgba(231, 241, 248, 0.9))),url(images/team-bg.jpg);
	background: linear-gradient(rgba(231, 241, 248, 0.9),rgba(231, 241, 248, 0.9)),url(images/team-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}

.team-section h2{
	color: #3c4761;
}

.team-section h2:after{
	background: #c8d9e5;
}

.team-section .team-member{
	margin-top:4.5rem;
	margin-bottom:3.5rem;
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	
}

.team-section h3{
	color: #27283d;
}

.team-section .role{
	color: #30bae7;
	font-size: 1.6rem;
	text-transform: capitalize;
	margin-top: .5rem;
	display: inline-block;
}

.team-section .box p{
	color: #3c4761;
}

.team-section .social-link{
	margin-top: 4.5rem;
}

.team-section .social-link ul li{
	display: inline-block;
	margin: 0 .5rem;
}

.team-section .social-link ul li a i{
	color: #fff;
}

.team-section .social-link ul li a:link .fab::before{
	background: #bdd1df;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	font-size: 2rem;
	padding: 1rem;
}

.team-section .social-link ul li a:hover .fab::before{
	background: #393939;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

/*  ****************** */

/*  SKILL SECTION */

/*  ****************** */

/* start animated circil */

svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}

/* end animated circil */

.skill-section{
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(images/skill-bg.jpg);
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(images/skill-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.skill-section h2,.skill-section h3{
    color: #3c4761;
}

.skill-section h2:after{
    background: #dfe8ed;
}

.skill-section .box{
    margin-top: 4.5rem;
}

svg.radial-progress circle{
    stroke-width: 5;
}

svg.radial-progress text{
    fill: #3c4761 !important;
}

svg.web-design circle{
    stroke: #30bae7 !important;
}

svg.html-css circle{
    stroke: #d74680 !important;
}

svg.graphic-design circle{
    stroke: #15c7a8 !important;
}

svg.ui-ux-design circle{
    stroke: #eb7d4b !important;
}

/*  ****************** */

/*  PORTFOLIO SECTION */

/*  ****************** */

.prrtfolio-section{
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(255, 221, 153, 0.9)),to(rgba(255, 221, 153, 0.9))), url(images/portfolio-bg.jpg);
    background: linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)), url(images/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

.prrtfolio-section h2{
    color: #3c4761;
}

.prrtfolio-section h2:after{
    background: #e5c37f;
}

.portfolio-filter{
    margin: 4.5rem 0;
}

.portfolio-filter button{
    background: #ebc985;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border: 0;
    border-radius: .5rem;
    text-transform: uppercase;
    color: #3c4761;
    -webkit-transition: .5s;
    transition: .5s;
}

.portfolio-filter button:hover{
    cursor: pointer;
    -webkit-box-shadow: inset 0 .3rem .5rem rgba(68 ,71, 97, 0.5);
    box-shadow: inset 0 .3rem .5rem rgba(68 ,71, 97, 0.5);
}
.portfolio-image{
    width: 100%;
    height: auto;
}
.prrtfolio-section .col:nth-child(3){
    margin-left: 0;
}
.prrtfolio-section .btn-load-more{
    background: #17c2a4;
    border-color: #145a8c;
}

.prrtfolio-section .mixitup-control-active{
    background: #fff;
}

/*  ****************** */

/*  testimonial SECTION */

/*  ****************** */

.testimonial{
    background: -webkit-gradient(linear,left top, left bottom,from(rgba(215, 70, 128, 0.9)),to(rgba(215, 70, 128, 0.9))),url(images/testimonial-bg.jpg);
    background: linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)),url(images/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.testimonial .litile-description{
    text-align: center;
    color: #fff;
}

.testimonial .col:nth-child(3){
    margin-left: 0;
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
    margin-top: 4rem;
}

.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
    margin-top: 8rem;
}

.client-photo{
    width: 10rem;
    float: left;
}

.client-photo img{
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.client-review{
    width: 35rem;
    float: left;
}

.client-review p{
    font-size: 2.1rem;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 2rem;
}

.client-review .role{
    color: #ffdd99;
    font-size: 1.5rem;
}

/*  ****************** */

/*  contact SECTION */

/*  ****************** */

.contact-section{
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 84, 153, 0.9)), to(rgba(60, 84, 153, 0.9)) ), url(images/contact-bg.jpg);
    background: linear-gradient(rgba(60, 84, 153, 0.9), rgba(60, 84, 153, 0.9) ), url(images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact-section h2:after{
    background: #273a71;
}

.contact-section .litile-description{
    color: #fff;
}

.contact-section form{
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    background: #273a71;
    border: .1rem solid #174ac4;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color:  #fff;
    margin: .5rem 0;
}

.contact-section textarea{
    height: 20rem;
}

.contact-section input::-webkit-input-placeholder,
.contact-section textarea::-webkit-input-placeholder{
    color: #fff;
    opacity: 1;
}

.contact-section input:-ms-input-placeholder,
.contact-section textarea:-ms-input-placeholder{
    color: #fff;
    opacity: 1;
}

.contact-section input::placeholder,
.contact-section textarea::placeholder{
    color: #fff;
    opacity: 1;
}

.contact-section .btn-submit{
    border: 0;
    border-bottom: .3rem solid #299ec5;
    background: #30bae7;
}

.contact-section .btn-submit:hover{
    cursor: pointer;
}

/*  ****************** */

/*  FOOTER SECTION */

/*  ****************** */

.footer-section{
    background: #344b8e;
    padding: 3rem 0;
    text-align: center;
    border-top: .1rem solid rgba(255, 255, 255, 0.3);
}

.footer-section li{
    display: inline-block;
    margin: 0 2rem;
}

.footer-section li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.4rem;
}

.footer-section li a:hover{
    color: #30bae7;
}





